@import "tailwindcss";

@theme {
  --color-gold: #C7AB73;
  --color-gold-light: #E5D5B0;
  --color-dark: #0A0A0A;
  --color-soft-gray: #FBFBF5;
  --color-floral-white: #fefefa;
  --font-sans: var(--font-outfit), sans-serif;
  --font-serif: var(--font-poiret), cursive;
}

@utility container {
  margin-inline: auto;
  padding-inline: 1.5rem;
  max-width: 1440px;
}

:root {
  --background: #ffffff;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}